<link rel="stylesheet" href="https://cdn.simplecss.org/simple.min.css">
  <%= stylesheet_link_tag 'index' %>

<p style="color: green"><%= notice %></p> 

    <h1>Labs reports</h1>
<div class="button-in-row">
<%= button_to "Add report", new_lab_report_path, method: :get, class: "button-class" %>
<%= button_to "New user", new_user_path, method: :get, class: "button-class"  %>
</div>


<div id="lab_reports">
  <% @lab_reports.each do |lab_report| %>
    <%= render lab_report %>
    <div class="button-in-row">
        <%= button_to "Add mark", lab_report %>
        <%= button_to "Remove", lab_report, method: :delete %>
    </div>
  <% end %>
</div>



